---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ContactoComponent from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Contacto - SecureAI">
  <Navbar />
  <main>
    <!-- Componente de contacto -->
    <ContactoComponent />
  </main>
  <Footer />
</Layout> 